<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/products/productGeneration.css" />
        <title>Generación de Productos - El Rincón del Café</title>
</head>


<body>
    <%- include('../partials/header')%>

        <main>
            <section class="edition-form">
                <div class="container-form">
                    <h2 class="title-register">GENERAR PRODUCTO</h2>

                    <form class="complete-form" method="POST" action="/products" enctype="multipart/form-data">
                        <div class="group-product-name">
                            <input class="input-form input-name" type="text" id="name-product" name="name"
                            placeholder="Nombre del producto" value="<%= locals.old ? locals.old.name : '' %>" />
                            <% if(locals.errors && errors.name) { %> 
                                <p class="feedback"> <%= errors.name.msg %></p>
                            <% } %>
                            <p class="flash-errors">
                                El nombre debe tener al menos 5 caracteres
                            </p>
                        </div>
                        

                        <div class="contenedor_radio">
                            <label class="titulo-radio">
                                Categoria de Producto<br />
                            </label>
                            <label class="label_radio">
                                <input id="input-radio" type="radio" name="categoryId" value= 1 required /> Bebida
                            </label>
                            <label class="label_radio">
                                <input id="input-radio" type="radio" name="categoryId" value= 2 required /> Café en Grano
                            </label>
                            <label class="label_radio">
                                <input id="input-radio" type="radio" name="categoryId" value= 3 required /> Café Molido
                            </label>
                            <label class="label_radio">
                                <input id="input-radio" type="radio" name="categoryId" value= 4 required /> Café en Capsulas
                            </label>
                            <p class="flash-errors">
                                Debes seleccionar una categoria
                            </p>
                        </div>


                        <div class="group-product-price">
                            <input class="input-form input-price" type="number" id="price" name="price" step="0.01" min="0"
                            placeholder="Precio" />
                        <p class="flash-errors">
                                Debes ingresar un precio
                        </p>
                        </div>
                        
                        <div class="group-product-amount">
                            <input class="input-form" type="number" id="amount" name="amount" placeholder="Cantidad" />
                        <p class="flash-errors">
                            Debes ingresar una cantidad
                        </p>
                        </div>
                        
                        <div class="group-product-description">
                            <textarea class="input-form text-area" id="descripcion" name="description" rows="5" cols="50"
                            placeholder="Descripción"></textarea>
                            <p class="flash-errors">
                            Debes ingresar una descripción del producto, al menos 20 caracteres
                            </p>
                        </div>
                        

                        <div class="contenedor_foto">
                            <label class="titulo-foto">
                                Foto de Producto
                            </label>
                            <div class="contenedor-upload">
                                <label for="file-upload" class="custom-file-input">
                                    Elegir Archivo
                                    <input type="file" name="image" id="file-upload" accept=".jpg, .jpeg, .png">
                                </label>
                                <span class="file-name-container">Ningún archivo seleccionado</span>
                                <p class="flash-errors">
                                    Debes seleccionar una imagen soportada
                                </p>
                            </div>
                        </div>
                            
                        <div class="contenedor-enviar-reset">
                            <button type="reset" class="boton_reset-custom" >REESTABLECER</button>
                            <button type="submit" class="boton_enviar-custom">GENERAR</button>
                        </div>
                    </form>

                    
                </div>
            </section>
        </main>

        <%- include('../partials/footer')%>

</body>
<script src="/js/productsValidation/validationFrontCreate.js"></script>



</html>