<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/products/productDashboard.css" />
    <title>Administracion de productos - El Rincón del Café</title>
</head>
<body>
    <%- include('../partials/header')%>

<main>
    <main>
        <h2 class="title">ADMINISTRACIÓN DE PRODUCTOS</h2>
        
        <button class="btn-add">
          <a href="/products/create">Agregar</a>
          <i class="fa-solid fa-plus"></i>
        </button>
  
        <section class="table-container">
            <article>
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                    <tr>
                      <td><%= products.id %></td>
                      <td><%=  products.name %></td>
                      <td><%=  products.category %></td>
                      <td><%=  products.price %></td>
                      <td>
                        <!-- <a href="/users/<%= user.id %>/edit">
                          <button class="btn-edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                        </a>
                      </td>
                      <td>
                        <a href="/users/<%= user.id %>/delete">
                          <button class="btn-delete">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </a> -->
                      </td>
                    </tr>
                  
      
              </table>
            </article>
    
            <article class="pagination-container">
              <div class="rows-per-page-container">
                <label for="rowsPerPage">Filas por página: </label>
                <select name="rowsPerPage" id="rowsPerPage">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
    
              <div class="pagination-counter-container">
                <span>1-5</span>
                de
                <span>15</span>
              </div>
    
              <div class="pagination-btns-container">
                <button><i class="fa-solid fa-arrow-left"></i></button>
                <button><i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </article>
          </section>
    
      </main>


</main>


<%- include('../partials/footer')%>
</body>
</html>