<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/products/productDetail.css" />
    <title>Detalle de Producto - El Rincón del Café</title>
  </head>

  <body>
    <%- include('../partials/header')%>

    <main>
      <div class="content">
        <div class="text-box">
          <h2 class="product"><%= product.name %></h2>
          <p><%= product.description %></p>
          <p class="price">$<%= product.price %></p>

          <div class="quantity-counter">
            <div class="counter">
              <i class="fa-solid fa-minus"></i>
              <input
                class="cantidad"
                id="number"
                type="number"
                value="0"
                disabled
              />
              <i class="fa-solid fa-plus"></i>
            </div>
            <label for="button-add" class="button-add-custom">
              Añadir al carrito <i class="fa-solid fa-mug-hot"></i>
              <input id="button-add" type="submit" />
            </label>
          </div>
        </div>
        <div class="product-container">
          <img
            class="card-imagen resized-image"
            src="/images/products/<%= product.image %>"
          />
        </div>
        <div class="circle"></div>
      </div>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
