<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/users/login.css" />
    
    <title>Ingresar - El Rincón del Café</title>
  </head>
  <body>
    <%- include('../partials/header')%>

    <main>
      <section class="section-login">
        <div class="container-izquierdo-desktop">
          <p>Inicia sesión y empezá a disfrutar de nuestros productos!</p>
        </div>

        <div class="container-login">
          <h2 class="login-name">INICIAR SESION</h2>

          <form class="complete-form" method="post" action="/users/login">
            
            <div class="input-wrapper" id="group__email">
              <label for="email" class="input-label">Correo Electrónico</label>
              <div class="form__group-input">
                <input class="input-form" type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : '' %>" />
                <i class="form__state-validation icon-email fa-regular fa-circle-xmark"></i>
                <% if (locals.errors && errors.email){ %>
                <p class="feedback"><%=errors.email.msg%></p>
                <% } %>
                <p class="flash-errors">
                  Debes ingresar una direccion de correo válida.
                </p>
            </div>

            <div class="input-wrapper" id="group__password">
              <label for="password" class="input-label">Contraseña</label>
              <div class="form__group-input">
                <input
                  class="input-form"
                  type="password"
                  id="password"
                  name="password"
                  value="<%=locals.old && old.password ? old.password : '' %>"
                />
                <i
                  class="form__state-validation icon-password fa-regular fa-circle-xmark"
                ></i>
                <% if (locals.errors && errors.password){ %>
                <p class="feedback"><%=errors.password.msg%></p>
                <% } %>
                <p class="flash-errors-pass">
                  La contraseña debe ser de 8 a 20 dígitos.
                </p>
              </div>
            </div>

            <button class="login-button" type="submit">INGRESAR</button>
          </form>
        </div>
        <section class="last-container">
          <!-- <p class="parrafo-olvide-contraseña">Olvidé la contraseña</p> -->
  
          <form class="login-form" action="/register" method="GET">
            <p>
              <a href="/users/register"
                ><p class="parrafo-crear-cuenta">Crear Cuenta</p></a
              >
            </p>
          </form>
        </section>
      </section>
    </main>

    <%- include('../partials/footer')%>
  </body>
  <script src="/js/usersValidation/validationFrontLogin.js"></script>

</html>