<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/users/register.css" />
    <script src="/src/validations/formValidations.js"></script>
    <title>Registro - El Rincón del Café</title>
  </head>

  <body>
    <%- include('../partials/header')%>

    <main>
      <section class="register-form">
        <div class="container-form">
          <h2 class="title-register">REGISTRO</h2>

          <form
            class="complete-form"
            method="POST"
            action="/users/register"
            enctype="multipart/form-data"
          >
            <div class="input-wrapper" id="group__firstName">
              <label for="name" class="input-label">Nombre</label>
              <div class="form__group-input">
                <input class="input-form" type="text" id="firstName"
                name="firstName" placeholder="Juan" value="<%= oldData ?
                oldData.firstName : "" %>" />
                <i
                  class="form__state-validation fa-regular fa-circle-xmark"
                ></i>
              </div>
              <% if (locals.errors && errors.firstName){ %>
              <p class="feedback"><%=errors.firstName.msg%></p>
              <% } %>
              <p class="flash-errors">
                El nombre debe contener al menos dos letras y puede contener
                espacios.
              </p>
            </div>

            <div class="input-wrapper" id="group__lastName">
              <label for="last-name" class="input-label">Apellido</label>
              <div class="form__group-input">
                <input class="input-form" type="text" id="lastName"
                name="lastName" placeholder="Valdez" value="<%= oldData ?
                oldData.lastName : "" %>" />
                <i
                  class="form__state-validation fa-regular fa-circle-xmark"
                ></i>
                <% if (locals.errors &&
              errors.lastName){ %>
              <p class="feedback"><%=errors.lastName.msg%></p>
              <% } %>
                <p class="flash-errors">
                  El apellido debe contener al menos dos letras y puede contener
                  espacios.
                </p>
              </div>
            </div>

            <div class="input-wrapper" id="group__birthDate">
              <label for="date" class="input-label">Fecha de Nacimiento</label>
              <div class="form__group-input">
                <input class="input-form" type="date" id="date" name="birthDate"
                placeholder="Ingresar fecha de nacimiento" value="<%= oldData ?
                oldData.birthDate : "" %>" />
                <% if (locals.errors &&
              errors.birthDate){ %>
              <p class="feedback"><%=errors.birthDate.msg%></p>
              <% } %>
                <p class="flash-errors">Debes seleccionar una fecha.</p>
              </div>
            </div>

            <div class="input-wrapper btn-file-upload">
              <label for="image-profile" class="input-label"
                >Imagen de perfil</label
              >
              <input
                class="input-form input-file"
                type="file"
                id="image-profile"
                accept=".jpg, .jpeg, .png, .gif"
                name="imageProfile"
              />
            </div>

            <div class="input-wrapper" id="group__email">
              <label for="email" class="input-label">Correo Electrónico</label>
              <div class="form__group-input">
                <input class="input-form" type="email" id="email" name="email"
                placeholder="ejemplo@correo.com" value="<%= oldData ?
                oldData.email: "" %>" />
                <i
                  class="form__state-validation fa-regular fa-circle-xmark"
                ></i>
                <% if (locals.errors && errors.email){ %>
              <p class="feedback"><%=errors.email.msg%></p>
              <% } %>
                <p class="flash-errors">
                  Debes ingresar una direccion de correo válida.
                </p>
              </div>
            </div>

            <div class="input-wrapper" id="group__password">
              <label for="password" class="input-label">Contraseña</label>
              <div class="form__group-input">
                <input
                  class="input-form"
                  type="password"
                  id="password"
                  name="password"
                  value="<%=locals.old && old.password ? old.password : '' %>"
                />
                <i
                  class="form__state-validation fa-regular fa-circle-xmark"
                ></i>
                <% if (locals.errors && errors.password){ %>
                <p class="feedback"><%=errors.password.msg%></p>
                <% } %>
                <p class="flash-errors">
                  La contraseña debe ser de 8 a 20 dígitos.
                </p>
              </div>
            </div>

            <button class="button-register">REGISTRARSE</button>
          </form>
        </div>
        <div class="left-container">
          <p class="text-left-container">
            Registrate y empezá a disfrutar de nuestros productos!
          </p>
        </div>
      </section>
    </main>
   
    <%- include('../partials/footer')%>
  </body>
</html>
